In [1]:
import mysql.connector

# Establece la conexión a la base de datos MySQL
conn = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='root',
    database='CEPI'
)

cursor = conn.cursor()

consulta = "SELECT * FROM universitarios"

# Ejecuta la consulta
cursor.execute(consulta)

# Recupera los resultados
universitarios = cursor.fetchall()

# Imprime los resultados
#for fila in universitarios:
#    print(fila)

In [2]:
consulta = "SELECT * FROM personasdatosacademicos"
cursor.execute(consulta)
personasdatosacademicos = cursor.fetchall()

In [3]:
consulta = "SELECT * FROM personas"
cursor.execute(consulta)
personas = cursor.fetchall()

In [4]:
consulta = "SELECT * FROM carreras"
cursor.execute(consulta)
carreras = cursor.fetchall()

In [5]:
consulta = "SELECT * FROM datosactualizables"
cursor.execute(consulta)
datosactualizables = cursor.fetchall()

In [6]:
consulta = "SELECT * FROM tiposareasacademicas"
cursor.execute(consulta)
tiposareasacademicas = cursor.fetchall()

In [7]:
import pandas as pd
tiposareasacademicasDF  = pd.DataFrame(tiposareasacademicas, columns=['codigo','nombre'])
universitariosDF  = pd.DataFrame(universitarios, columns=['id','codigo_carrera','fecha_registro','matriculado','revisado'])
personasdatosacademicosDF  = pd.DataFrame(personasdatosacademicos, columns=['id','codig_universidad','codigo_tituloAcademico','fecha_titulacion_academica','fecha_titulacion'])
personasDF  = pd.DataFrame(personas, columns=['id','paterno','materno','nombres','fecha_nac','sexo','codigo_pais_nacimiento','codigo_dpto_nacimiento','fecha_registro','lugar_exp'])
carrerasDF  = pd.DataFrame(carreras, columns=['codigo','nombre','nombre_corto','sigla','titulo','numero_planes_estudio','codigo_estado','tipo_grupo','monto_tutoria','costo_programa','dep_inicial'])
datosactualizablesDF  = pd.DataFrame(datosactualizables, columns=['id','estado_civil','sede','direccion','telefono','celular','email'])

In [8]:
print(tiposareasacademicasDF[0:10])

   codigo                  nombre
0       3  Humanidades y Sociales
1       4    Ciencias de la Salud
2       5     Ciencias Económicas
3       2            Tecnológicas
4       1       Ciencias Agrarias

In [9]:
print(universitariosDF[0:10])
print(universitariosDF[universitariosDF.id==19])

         id  codigo_carrera       fecha_registro  matriculado  revisado
0  10641198             861  2022-06-16 09:23:11            1         0
1   1147006             101  2007-05-23 18:44:22            0         0
2   3909889             101  2007-05-24 11:23:19            1         0
3   1273894             103  2007-05-28 12:05:18            1         0
4   1392422             103  2007-05-29 06:28:45            0         0
5   4095514             103  2007-05-29 10:19:46            1         0
6   1050851             103  2007-05-29 10:25:11            1         0
7   4631321             103  2007-05-29 10:29:53            1         0
8   1056729             103  2007-05-29 10:30:35            1         0
9   1115942             103  2007-05-29 11:24:57            1         0
Empty DataFrame
Columns: [id, codigo_carrera, fecha_registro, matriculado, revisado]
Index: []

In [10]:
print(personasdatosacademicosDF[0:10])

        id  codig_universidad  codigo_tituloAcademico  \
0  1115413                 19                      22
1  3971480                 19                      74
2  5496566                 19                      77
3  3909889                 19                      77
4  3643710                 19                      22
5  1147006                 19                      61
6  3650609                 19                      54
7  1273894                 19                      76
8  1035296                 19                      76
9  1075256                 19                      28

  fecha_titulacion_academica fecha_titulacion
0                 2006-12-15       2007-02-28
1                 1999-12-10       2000-11-30
2                 2005-06-10       2005-10-12
3                 2006-02-16       2006-04-26
4                 2000-04-28       2002-01-18
5                 1999-10-22       1999-12-01
6                 2001-12-21       2002-02-27
7                 1986-05-13       1991-06-19
8                 1984-11-23       1985-01-24
9                 1995-10-03       1997-03-07

In [11]:

carrerasDF[0:10]

,codigo,nombre,nombre_corto,sigla,titulo,numero_planes_estudio,codigo_estado,tipo_grupo,monto_tutoria,costo_programa,dep_inicial
0,99,Aeropuertos en el Sistema de Transporte,Aeropuertos en el Sistema de Transporte,ASA,Asistente,1.0,V,T,0,200,100.0
1,100,Diplomado en Metodologías de Investigación Cua...,Dip. en Met. de Inv. Cualitativa,DME,Diplomado en Metodologías de Investigación Cua...,1.0,V,T,100,250,40.0
2,101,Especialidad en Ortodoncia,Esp. en Ortodoncia,EEO,Especialista en Ortodoncia,1.0,V,T,200,4700,10.0
3,102,Maestría en Educación Superior V.3,Maestría en Educ. Sup. V.3,MES,Magister en Educación Superior,1.0,V,T,300,1100,20.0
4,103,Diplomado en Educación Superior V.7,Diplomado en Educ. Sup. V.7,DES,Diploma en Educación Superior,1.0,V,A,100,350,25.0
5,104,Maestría en Administración Pública V.2,Maestría en Adm. Publica V.2,MAP,Magíster en Administración Pública,1.0,V,A,300,2500,10.0
6,105,Diplomado en Manejo Integrado de Plagas,Dip. en Manejo Int. de Plagas,DMP,Diplomado en Manejo Integrado de Plagas,1.0,V,T,100,500,22.0
7,106,Especialización en Ingeniería de Caminos,Esp. en Ing. de Caminos,EIC,Especialista en Ingeniería de Caminos,1.0,V,T,200,1900,10.0
8,107,Especialidad en Salud Familiar y Comunitaria S...,Esp. en Salud Familiar y Comunitaria Sucre,ESC,Especialista en Salud Familiar y Comunitaria,1.0,V,T,1500,9000,10.0
9,108,Especialidad en Derecho del Gas,Esp. en Derecho del Gas,EDG,Especialista en Derecho del Gas,1.0,V,T,200,1500,10.0

In [12]:
personasDF[0:10]

,id,paterno,materno,nombres,fecha_nac,sexo,codigo_pais_nacimiento,codigo_dpto_nacimiento,fecha_registro,lugar_exp
0,1115413,GUILLEN,BARJA,LUIS ALBERTO,1985-05-13,M,BO,CH,2014-07-08 15:05:47,CH
1,3971480,MEDINA,SOTO,RUTH DEYSI,1975-09-18,F,BO,PO,2008-05-13 19:11:49,PO
2,5496566,PICHA,PAREJA,MAGALI,1982-05-27,F,BO,CH,2007-06-15 11:02:01,CH
3,3909889,FLORES,DURAN,MAURO ESTEBAN,1976-09-20,M,BO,SC,2022-07-15 17:51:15,SC
4,3643710,CRUZ,PINEDO,OSCAR RICHARD,1975-12-06,M,BO,OR,2023-10-09 15:33:07,CH
5,1147006,ORDOÑEZ,FLORES,MARIA ANGELA,1969-08-02,F,BO,CH,2007-06-13 10:41:36,CH
6,3650609,ALMENDRAS,CAMPERO,JUAN JESUS,1975-06-05,M,BO,CH,2012-11-15 11:27:34,CH
7,1273894,AYALA,OSUNA,OSCAR,1952-07-21,M,BO,PO,2007-05-28 12:12:36,PO
8,1035296,ANíBARRO,SALGUEIRO,VICTOR WILLY,1952-12-18,M,BO,CH,2007-06-13 11:19:03,CH
9,1075256,CARREON,ENTRAMBASAGUAS,ALFREDO RENATO,1964-01-05,M,BO,PO,2011-02-14 08:18:32,CH

In [13]:
datosactualizablesDF[0:10]

,id,estado_civil,sede,direccion,telefono,celular,email
0,1115413,S,CH,EE.UU.#1129,6440132,75777777,luis.guillen.b@gmail.com
1,3971480,C,PO,SAAVEDRA 100,6229024,,ruthdeysi@hotmail.com
2,5496566,S,CH,29 DE SEPTIEMBRE 337,6420226,76116062,maguicita_pp@hotmail.com
3,3909889,S,SC,Calle tte. Vega 24,33333201,76112121,Eidanf64@gmail.com
4,3643710,C,CH,AV. 6 de Agosto S/N,6432193,69676103,richyscti@hotmail.com
5,1147006,S,CH,Ravelo 356,64-42896,71152840,anghyflor@yahoo.es
6,3650609,S,CH,PASTOR SAINZ 303,46427834,72889407,jesus_almendras@hotmail.com
7,1273894,S,CH,Mauro Nuñez 95,6462003,71159524,oscarayala9@hotmail.com
8,1035296,S,CH,José Alvares Nº 29,6462088,72888788,willy_anibarro@hotmail.com.br
9,1075256,C,CH,BARRIO LOS TARCOS S/N,64-47954,72869739,ALF_CARREON@HOTMAIL.COM

In [14]:
personasDF[:-50]

,id,paterno,materno,nombres,fecha_nac,sexo,codigo_pais_nacimiento,codigo_dpto_nacimiento,fecha_registro,lugar_exp
0,1115413,GUILLEN,BARJA,LUIS ALBERTO,1985-05-13,M,BO,CH,2014-07-08 15:05:47,CH
1,3971480,MEDINA,SOTO,RUTH DEYSI,1975-09-18,F,BO,PO,2008-05-13 19:11:49,PO
2,5496566,PICHA,PAREJA,MAGALI,1982-05-27,F,BO,CH,2007-06-15 11:02:01,CH
3,3909889,FLORES,DURAN,MAURO ESTEBAN,1976-09-20,M,BO,SC,2022-07-15 17:51:15,SC
4,3643710,CRUZ,PINEDO,OSCAR RICHARD,1975-12-06,M,BO,OR,2023-10-09 15:33:07,CH
...,...,...,...,...,...,...,...,...,...,...
25171,13188176,FLORES,QUISPE,KATHERINE MARINA,1999-03-20,F,BO,CH,2023-10-23 16:03:46,CH
25172,10089785,VILLALBA,GALVEZ,LORENA,2000-06-30,F,BO,LP,2023-10-15 16:39:57,LP
25173,3653265,FLORES,GONZALES,LUIS ALBERTO,1979-07-21,M,BO,CH,2023-10-16 09:08:47,CH
25174,5653875,MARTINEZ,SEGURA,CESAR ELOY,1981-11-14,M,BO,CH,2023-10-16 10:09:11,CH
25175,7508162,CRUZ,CHOQUE,ARIEL,1992-12-30,M,BO,CH,2023-10-23 07:44:09,CH

In [15]:
datosactualizablesDF.describe()

,id,estado_civil,sede,direccion,telefono,celular,email
count,25262,25262,25262,25262,25262,25262,25262
unique,25262,7,14,22366,13341,24301,24757
top,1115413,S,CH,Monteagudo,,,no tiene@no tiene
freq,1,18357,15430,58,10260,523,37

In [16]:
personasDF['id'].describe()

count       25226
unique      25226
top       1115413
freq            1
Name: id, dtype: object

In [17]:
datosactualizablesDF['id'].max()

'maribel'

In [18]:
datosactualizablesDF[datosactualizablesDF['id']=='maribel']

,id,estado_civil,sede,direccion,telefono,celular,email
23287,maribel,S,CO,Av. B. galindo km 4,,69515753,mari_el_007@hotmail.com

In [19]:
len(datosactualizablesDF[pd.to_numeric(datosactualizablesDF['id'], errors='coerce').notna()])

25082

In [20]:
len(personasDF[pd.to_numeric(personasDF['id'], errors='coerce').notna()])

25042

In [21]:
p = personasDF[pd.to_numeric(personasDF['id'], errors='coerce').notna()]
d = datosactualizablesDF[pd.to_numeric(datosactualizablesDF['id'], errors='coerce').notna()]

ESTUDIO DE LA VARIABLE CARRERA

In [22]:
carrerasDF[0:30].nombre.value_counts()

nombre
Aeropuertos en el Sistema de Transporte                                     1
Diplomado en Metodologías de Investigación Cualitativa                      1
Maestría en Kinesiología Traumatológica y Deportiva (Sucre)                 1
Maestría en Salud Pública con Mención en Gerencia V.2, Montero              1
Diplomado en Temas Curriculares y Gestión Educativa V.4                     1
Especialidad en Tecnología Educativa                                        1
Diplomado en Educación Superior V.8                                         1
Diplomado en Enseñanza del Ingles como Lengua Extranjera                    1
Diplomado en Lengua Quechua con Enfoque Intercultural Bilingue              1
Maestría en Agricultura y Agroecología Sostenible                           1
Especialidad en Tributación                                                 1
Especialidad en Diseño de Interiores                                        1
Maestría en Investigación y Conservación de la Biodiversidad                1
Especialidad en Enfermería Obstétrica y Neonatal                            1
Maestría en Psicomotricidad y Estimulación Múltiple Temprana (Sucre)        1
Maestría en Psicomotricidad y Estimulación Múltiple Temprana (Sta. Cruz)    1
Maestría en Producción Orgánica Sostenible                                  1
Especialidad en Turismo Rural                                               1
Diplomado en Gestión de Estrategias y Políticas Municipales                 1
Diplomado en Sistemas de Información Geográfica                             1
Especialización en Recursos Hidráulicos                                     1
Especialidad en Derecho del Gas                                             1
Especialidad en Salud Familiar y Comunitaria Sucre                          1
Especialización en Ingeniería de Caminos                                    1
Diplomado en Manejo Integrado de Plagas                                     1
Maestría en Administración Pública V.2                                      1
Diplomado en Educación Superior V.7                                         1
Maestría en Educación Superior V.3                                          1
Especialidad en Ortodoncia                                                  1
Maestría en Kinesiología Traumatológica y Deportiva (Sta Cruz)              1
Name: count, dtype: int64

In [23]:
carrerasDF.head()

,codigo,nombre,nombre_corto,sigla,titulo,numero_planes_estudio,codigo_estado,tipo_grupo,monto_tutoria,costo_programa,dep_inicial
0,99,Aeropuertos en el Sistema de Transporte,Aeropuertos en el Sistema de Transporte,ASA,Asistente,1.0,V,T,0,200,100.0
1,100,Diplomado en Metodologías de Investigación Cua...,Dip. en Met. de Inv. Cualitativa,DME,Diplomado en Metodologías de Investigación Cua...,1.0,V,T,100,250,40.0
2,101,Especialidad en Ortodoncia,Esp. en Ortodoncia,EEO,Especialista en Ortodoncia,1.0,V,T,200,4700,10.0
3,102,Maestría en Educación Superior V.3,Maestría en Educ. Sup. V.3,MES,Magister en Educación Superior,1.0,V,T,300,1100,20.0
4,103,Diplomado en Educación Superior V.7,Diplomado en Educ. Sup. V.7,DES,Diploma en Educación Superior,1.0,V,A,100,350,25.0

In [24]:
carrerasDF

,codigo,nombre,nombre_corto,sigla,titulo,numero_planes_estudio,codigo_estado,tipo_grupo,monto_tutoria,costo_programa,dep_inicial
0,99,Aeropuertos en el Sistema de Transporte,Aeropuertos en el Sistema de Transporte,ASA,Asistente,1.0,V,T,0,200,100.0
1,100,Diplomado en Metodologías de Investigación Cua...,Dip. en Met. de Inv. Cualitativa,DME,Diplomado en Metodologías de Investigación Cua...,1.0,V,T,100,250,40.0
2,101,Especialidad en Ortodoncia,Esp. en Ortodoncia,EEO,Especialista en Ortodoncia,1.0,V,T,200,4700,10.0
3,102,Maestría en Educación Superior V.3,Maestría en Educ. Sup. V.3,MES,Magister en Educación Superior,1.0,V,T,300,1100,20.0
4,103,Diplomado en Educación Superior V.7,Diplomado en Educ. Sup. V.7,DES,Diploma en Educación Superior,1.0,V,A,100,350,25.0
...,...,...,...,...,...,...,...,...,...,...,...
945,1075,Diplomado en Bim Modelado y Gestión de Proyect...,Dipl. en Bim Modelado y Gestión de Proyectos C...,DBMGPCV1,Diplomado en Bim Modelado y Gestión de Proyect...,1.0,V,T,None,3800,10.0
946,1076,Diplomado en Diseño Mecánico Industrial CAD-CA...,Dipl. en Diseño Mecánico Industrial CAD-CAE-CN...,DDMIV2,Diplomado en Diseño Mecánico Industrial CAD-CA...,1.0,V,T,None,5000,10.0
947,1077,Diplomado en Diseño Mecánico Industrial CAD-CA...,Dipl. en Diseño Mecánico Industrial CAD-CAE-CN...,DDMIV2-MG,Diplomado en Diseño Mecánico Industrial CAD-CA...,1.0,V,T,450,4550,10.0
948,1079,Diplomado en Obras Viales en Suelos Tropicales...,"Dipl. en Obras Viales en Suelos Tropicales, V....",DOVSTV1,Diplomado en Obras Viales en Suelos Tropicales,1.0,V,T,None,5000,10.0
949,1080,"Maestría en Derecho de Género, Violencia y Adm...",Regularización - Maestría en Derecho de Género...,RMDGJ,,1.0,V,T,None,0,10.0

In [25]:
len(carrerasDF)

950

In [26]:
carrerasDF['numero_planes_estudio'].unique()

array([ 1., nan,  3.])

In [27]:
carrerasDF['numero_planes_estudio'].value_counts()

numero_planes_estudio
1.0    945
3.0      2
Name: count, dtype: int64

In [28]:
carrerasDF['codigo'].value_counts()

codigo
1048    2
99      1
783     1
756     1
757     1
       ..
421     1
422     1
423     1
424     1
1080    1
Name: count, Length: 949, dtype: int64

Se equivocaron de codigo, está duplicado

In [29]:
carrerasDF[carrerasDF['codigo']==1048]

,codigo,nombre,nombre_corto,sigla,titulo,numero_planes_estudio,codigo_estado,tipo_grupo,monto_tutoria,costo_programa,dep_inicial
917,1048,Diplomado en Diseño de Experiencia e Interfaz ...,Dipl. en Diseño de Experiencia e Interfaz de U...,DDEIUV1,Diplomado en Diseño de Experiencia e Interfaz ...,1.0,V,T,None,3800,10.0
918,1048,Diplomado en Docencia para Educación Superior ...,Dipl. en Docencia para Educación Superior V. 1...,DES15,Diplomado en Docencia para Educación Superior,1.0,V,T,None,3400,10.0

In [30]:
universitariosDF.codigo_carrera.value_counts()

codigo_carrera
194    472
123    459
263    425
170    417
0      397
      ...
791      1
622      1
799      1
269      1
302      1
Name: count, Length: 927, dtype: int64

In [31]:
carrerasDF[carrerasDF.codigo==103]# 103

,codigo,nombre,nombre_corto,sigla,titulo,numero_planes_estudio,codigo_estado,tipo_grupo,monto_tutoria,costo_programa,dep_inicial
4,103,Diplomado en Educación Superior V.7,Diplomado en Educ. Sup. V.7,DES,Diploma en Educación Superior,1.0,V,A,100,350,25.0

In [32]:
carrerasDF.sigla.value_counts()

sigla
MAJ2S    9
MAJ3S    8
MPMG     7
DCEV6    7
MEET     6
        ..
TRSMD    1
DEAP     1
DCER     1
DTADH    1
RMDGJ    1
Name: count, Length: 805, dtype: int64

In [33]:
carrerasDF[carrerasDF.sigla=='MIE5'] # maj2s

,codigo,nombre,nombre_corto,sigla,titulo,numero_planes_estudio,codigo_estado,tipo_grupo,monto_tutoria,costo_programa,dep_inicial
236,336,Maestría en Ingeniería Estructural Versión V S...,Mae. en Ingeniería Estructural V.5 Stanta Cruz,MIE5,Magister en Ingeniería Estructural,1.0,V,T,2250,32750,10.0
237,337,Maestría en Ingeniería Estructural Versión V S...,Mae. en Ingeniería Estructural V.5 Cochabamba,MIE5,Magister en Ingeniería Estructural,1.0,V,T,2250,32750,10.0
238,338,Maestría en Ingeniería Estructural Versión V S...,Mae. en Ingeniería Estructural V.5 Oruro,MIE5,Magister en Ingeniería Estructural,1.0,V,T,2250,32750,10.0
239,339,Maestría en Ingeniería Estructural Versión V S...,Mae. en Ingeniería Estructural V.5 Sucre,MIE5,Magister en Ingeniería Estructural,1.0,V,T,2250,25750,10.0
240,340,Maestría en Ingeniería Estructural Versión V S...,Mae. en Ingeniería Estructural V.5 La Paz,MIE5,Magister en Ingeniería Estructural,1.0,V,T,2250,32750,10.0
242,342,Maestría en Ingeniería Estructural Versión V S...,Mae. en Ingeniería Estructural V.5 Tarija,MIE5,Magister en Ingeniería Estructural,1.0,V,T,2250,32750,10.0

In [34]:
carrerasDF[carrerasDF.codigo==104].nombre.values[0].split()[0:-1]

['Maestría', 'en', 'Administración', 'Pública']

In [64]:
print(carrerasDF.sigla.isna().value_counts())
carrerasDF = carrerasDF.dropna(subset=['sigla'])
print(carrerasDF.sigla.isna().value_counts())

sigla
False    946
True       4
Name: count, dtype: int64
sigla
False    946
Name: count, dtype: int64

In [65]:
import math
def filtrarVersiones(sigla):
    bandera = True
    indice = 0
    while bandera:
        if(sigla[-(indice+1)].isnumeric()):
            indice+=1
        else:
            bandera = False
    if((sigla[-(indice+1)]=='V') and (indice>0)):
        sigla = sigla[0:-(indice+1)]
    else:
        if indice==0:
            return sigla
        sigla = sigla[0:-indice]
    return sigla

In [71]:
def filtrarVersionesNumero(sigla):
    bandera = True
    indice = 0
    while bandera:
        if(sigla[-(indice+1)].isnumeric()):
            indice+=1
        else:
            bandera = False
    if((sigla[-(indice+1)]=='V') and (indice>0)):
        sigla = sigla[0:-(indice+1)]
    else:
        if indice==0:
            return 0
        sigla = sigla[-indice:]
    return sigla

In [73]:
carrerasDF.loc[:, 'siglaNoVersionNumero'] = carrerasDF.sigla.apply(filtrarVersionesNumero)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19468\1500425832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carrerasDF.loc[:, 'siglaNoVersionNumero'] = carrerasDF.sigla.apply(filtrarVersionesNumero)

In [74]:
carrerasDF.loc[:, 'siglaNoVersion'] = carrerasDF.sigla.apply(filtrarVersiones)
carrerasDF

,codigo,nombre,nombre_corto,sigla,titulo,numero_planes_estudio,codigo_estado,tipo_grupo,monto_tutoria,costo_programa,dep_inicial,siglaNoVersion,siglaNoVersionNumero
0,99,Aeropuertos en el Sistema de Transporte,Aeropuertos en el Sistema de Transporte,ASA,Asistente,1.0,V,T,0,200,100.0,ASA,0
1,100,Diplomado en Metodologías de Investigación Cua...,Dip. en Met. de Inv. Cualitativa,DME,Diplomado en Metodologías de Investigación Cua...,1.0,V,T,100,250,40.0,DME,0
2,101,Especialidad en Ortodoncia,Esp. en Ortodoncia,EEO,Especialista en Ortodoncia,1.0,V,T,200,4700,10.0,EEO,0
3,102,Maestría en Educación Superior V.3,Maestría en Educ. Sup. V.3,MES,Magister en Educación Superior,1.0,V,T,300,1100,20.0,MES,0
4,103,Diplomado en Educación Superior V.7,Diplomado en Educ. Sup. V.7,DES,Diploma en Educación Superior,1.0,V,A,100,350,25.0,DES,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,1075,Diplomado en Bim Modelado y Gestión de Proyect...,Dipl. en Bim Modelado y Gestión de Proyectos C...,DBMGPCV1,Diplomado en Bim Modelado y Gestión de Proyect...,1.0,V,T,None,3800,10.0,DBMGPC,DBMGPC
946,1076,Diplomado en Diseño Mecánico Industrial CAD-CA...,Dipl. en Diseño Mecánico Industrial CAD-CAE-CN...,DDMIV2,Diplomado en Diseño Mecánico Industrial CAD-CA...,1.0,V,T,None,5000,10.0,DDMI,DDMI
947,1077,Diplomado en Diseño Mecánico Industrial CAD-CA...,Dipl. en Diseño Mecánico Industrial CAD-CAE-CN...,DDMIV2-MG,Diplomado en Diseño Mecánico Industrial CAD-CA...,1.0,V,T,450,4550,10.0,DDMIV2-MG,0
948,1079,Diplomado en Obras Viales en Suelos Tropicales...,"Dipl. en Obras Viales en Suelos Tropicales, V....",DOVSTV1,Diplomado en Obras Viales en Suelos Tropicales,1.0,V,T,None,5000,10.0,DOVST,DOVST
949,1080,"Maestría en Derecho de Género, Violencia y Adm...",Regularización - Maestría en Derecho de Género...,RMDGJ,,1.0,V,T,None,0,10.0,RMDGJ,0

In [ ]:
carrerasDF[carrerasDF.sigla.isnull()]

In [ ]:
print(len(universitariosDF[universitariosDF.codigo_carrera==1044]))
print(len(universitariosDF[universitariosDF.codigo_carrera==812]))
print(len(universitariosDF[universitariosDF.codigo_carrera==659]))
print(len(universitariosDF[universitariosDF.codigo_carrera==661]))

In [ ]:
column_name = 'sigla'
carrerasDF = carrerasDF.dropna(subset=[column_name])

In [ ]:
carrerasDF.sigla.isnull().value_counts()

In [ ]:
carrerasDF.sort_values(by='siglaNoVersion')

In [ ]:
universitariosDF

In [ ]:
universitariosDF.apply()

In [ ]:
import numpy as np
y = np.random.rand(4, 2)
y

In [242]:
y[:,1]

array([0.51819675, 0.1495009 , 0.27113291, 0.64615694])

In [43]:
universitariosDF.id.duplicated().value_counts()

id
False    23831
True     14955
Name: count, dtype: int64

In [49]:
a = pd.DataFrame([1,2,3,1,1])
a.duplicated()

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [50]:
universitariosDF.to_csv("./data/universitarios.csv",index=False)
tiposareasacademicasDF.to_csv("./data/tiposareasacademicas.csv",index=False)
personasDF.to_csv("./data/personas.csv",index=False)
carrerasDF.to_csv("./data/carreras.csv",index=False)

In [75]:
carrerasDF.to_csv("./data/carreras.csv",index=False)

In [51]:
datosactualizablesDF.to_csv("./data/datosactualizables.csv",index=False)

In [52]:
personasdatosacademicosDF.to_csv("./data/personasDatosAcademicos.csv")