In [1]:
import pandas as pd
dfC = 'E:/chatbot/data/dfClean.csv'
dfClean = pd.read_csv(dfC)

In [2]:
dfClean.columns

Index(['id', 'monto_tutoria', 'costo_programa', 'dep_inicial',
       'siglaNoVersion', 'siglaNoVersionNumero', 'nombre', 'edad',
       'tiempo_titulacion', 'sexo_F', 'sexo_M', 'estado_civil_C',
       'estado_civil_O', 'estado_civil_S', 'iniciales_nombre_2_dip',
       'iniciales_nombre_2_doc', 'iniciales_nombre_2_e',
       'iniciales_nombre_2_fc', 'iniciales_nombre_2_m', 'iniciales_nombre_2_n',
       'Areas_1', 'Areas_2', 'Areas_3', 'Areas_4', 'Areas_5',
       'codigo_dpto_nacimiento_CH', 'codigo_dpto_nacimiento_CO',
       'codigo_dpto_nacimiento_LP', 'codigo_dpto_nacimiento_OR',
       'codigo_dpto_nacimiento_OTHER', 'codigo_dpto_nacimiento_PO',
       'codigo_dpto_nacimiento_SC', 'codigo_pais_nacimiento_AR',
       'codigo_pais_nacimiento_BO', 'codigo_pais_nacimiento_LATE',
       'codigo_pais_nacimiento_PE'],
      dtype='object')

In [3]:
client_features_columns = ['edad','tiempo_titulacion','sexo_F','sexo_M','estado_civil_C','estado_civil_O','estado_civil_S','codigo_dpto_nacimiento_CH','codigo_dpto_nacimiento_CO','codigo_dpto_nacimiento_LP','codigo_dpto_nacimiento_OR','codigo_dpto_nacimiento_OTHER','codigo_dpto_nacimiento_PO','codigo_dpto_nacimiento_SC','codigo_pais_nacimiento_AR','codigo_pais_nacimiento_BO','codigo_pais_nacimiento_LATE','codigo_pais_nacimiento_PE']

In [4]:
client_features = dfClean[client_features_columns]
client_features.columns

Index(['edad', 'tiempo_titulacion', 'sexo_F', 'sexo_M', 'estado_civil_C',
       'estado_civil_O', 'estado_civil_S', 'codigo_dpto_nacimiento_CH',
       'codigo_dpto_nacimiento_CO', 'codigo_dpto_nacimiento_LP',
       'codigo_dpto_nacimiento_OR', 'codigo_dpto_nacimiento_OTHER',
       'codigo_dpto_nacimiento_PO', 'codigo_dpto_nacimiento_SC',
       'codigo_pais_nacimiento_AR', 'codigo_pais_nacimiento_BO',
       'codigo_pais_nacimiento_LATE', 'codigo_pais_nacimiento_PE'],
      dtype='object')

In [5]:
programa_features_columns =['monto_tutoria','costo_programa','dep_inicial','siglaNoVersion','iniciales_nombre_2_dip','iniciales_nombre_2_doc','iniciales_nombre_2_e','iniciales_nombre_2_fc','iniciales_nombre_2_m','iniciales_nombre_2_n','Areas_1','Areas_2','Areas_3','Areas_4','Areas_5']
programa_features = dfClean[programa_features_columns]
programa_features

,monto_tutoria,costo_programa,dep_inicial,siglaNoVersion,iniciales_nombre_2_dip,iniciales_nombre_2_doc,iniciales_nombre_2_e,iniciales_nombre_2_fc,iniciales_nombre_2_m,iniciales_nombre_2_n,Areas_1,Areas_2,Areas_3,Areas_4,Areas_5
0,0.071429,0.042718,0.2,0.068326,False,False,False,False,True,False,False,False,True,False,False
1,0.071429,0.042718,0.2,0.068326,False,False,False,False,True,False,False,False,True,False,False
2,0.071429,0.042718,0.2,0.068326,False,False,False,False,True,False,False,False,True,False,False
3,0.071429,0.042718,0.2,0.068326,False,False,False,False,True,False,False,False,True,False,False
4,0.071429,0.042718,0.2,0.068326,False,False,False,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31330,0.000000,0.147573,0.1,0.000447,True,False,False,False,False,False,False,True,False,False,False
31331,0.589286,0.147573,0.1,0.000447,True,False,False,False,False,False,False,True,False,False,False
31332,0.535714,0.147573,0.1,0.000447,True,False,False,False,False,False,False,True,False,False,False
31333,0.589286,0.147573,0.1,0.000447,True,False,False,False,False,False,False,True,False,False,False
31334,0.589286,0.147573,0.1,0.000447,True,False,False,False,False,False,False,True,False,False,False

In [6]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Supongamos que tienes un conjunto de características etiquetadas como se describió anteriormente
# También supongamos que tienes un cliente específico con características

# Calcular la similitud coseno entre las características del cliente y las características de los programas
similarities = cosine_similarity(client_features, programa_features)

# Obtener los índices de los programas ordenados por similitud descendente
program_indexes = np.argsort(similarities[0])[::-1]

# Recomendar los programas más similares al cliente
num_recommendations = 5  # Puedes ajustar el número de recomendaciones
recommended_programs = program_indexes[:num_recommendations]

# Muestra los programas recomendados al cliente
for i, program_index in enumerate(recommended_programs):
    print(f"Recomendación {i + 1}: Programa {program_index}")

ValueError: Input contains NaN.

In [ ]:
palabra = 'MES'
dfClean.columns[0]

In [ ]:
for i in dfClean.columns:
    if len(dfClean[dfClean[i]==palabra])>0:
        print(i)
        print('error')

In [ ]:
dfClean[dfClean['siglaNoVersionNumero']=='MES'].loc[:,'siglaNoVersionNumero'] = 6

In [ ]:
dfClean[dfClean['siglaNoVersionNumero']=='MES']

In [ ]:
def cambiar(p):
    print(type(p)) 
    if isinstance(p,int):
        return p
    if p.isdigit():
        return p
    return 6

In [ ]:
dfClean.siglaNoVersionNumero = dfClean['siglaNoVersionNumero'].apply(cambiar)

In [7]:
dfClean[dfClean['siglaNoVersionNumero']=='MES']

,id,monto_tutoria,costo_programa,dep_inicial,siglaNoVersion,siglaNoVersionNumero,nombre,edad,tiempo_titulacion,sexo_F,...,codigo_dpto_nacimiento_CO,codigo_dpto_nacimiento_LP,codigo_dpto_nacimiento_OR,codigo_dpto_nacimiento_OTHER,codigo_dpto_nacimiento_PO,codigo_dpto_nacimiento_SC,codigo_pais_nacimiento_AR,codigo_pais_nacimiento_BO,codigo_pais_nacimiento_LATE,codigo_pais_nacimiento_PE
3541,3643710,0.535714,0.339806,0.1,0.068326,MES,Maestría en Educación Superior Virtual V.6,0.442623,0.383333,False,...,False,False,True,False,False,False,False,True,False,False
3542,1115871,0.535714,0.339806,0.1,0.068326,MES,Maestría en Educación Superior Virtual V.6,0.524590,0.450000,True,...,True,False,False,False,False,False,False,True,False,False
3543,3625016,0.535714,0.339806,0.1,0.068326,MES,Maestría en Educación Superior Virtual V.6,0.508197,0.333333,False,...,False,False,False,False,False,False,False,True,False,False
3544,4632280,0.535714,0.339806,0.1,0.068326,MES,Maestría en Educación Superior Virtual V.6,0.491803,0.383333,False,...,False,False,False,False,False,False,False,True,False,False
3545,5031567,0.535714,0.339806,0.1,0.068326,MES,Maestría en Educación Superior Virtual V.6,0.344262,0.266667,True,...,False,False,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15776,5955584,0.535714,0.553398,0.1,0.068326,MES,"Maestría en Educación Superior, Versión X",0.262295,0.133333,False,...,False,True,False,False,False,False,False,True,False,False
15777,6686404,0.535714,0.553398,0.1,0.068326,MES,"Maestría en Educación Superior, Versión X",0.245902,0.200000,True,...,False,False,False,False,True,False,False,True,False,False
15778,4085750,0.535714,0.553398,0.1,0.068326,MES,"Maestría en Educación Superior, Versión X",0.000000,0.300000,False,...,False,False,False,False,False,False,False,True,False,False
15779,1147432,0.535714,0.553398,0.1,0.068326,MES,"Maestría en Educación Superior, Versión X",0.491803,0.366667,False,...,False,False,False,False,False,False,False,True,False,False
15780,56507899,0.535714,0.553398,0.1,0.068326,MES,"Maestría en Educación Superior, Versión X",0.000000,0.116667,True,...,False,False,False,False,False,False,False,True,False,False

In [8]:
dfClean.siglaNoVersionNumero.unique()

array(['0', '8', '9', '2', '13', 'MES', '3', '1', '4', '5', '11', '6',
       '413', '411', '412', '423', 'MI', 'MSP', '12', '14', 'DES', 'EDA',
       'DEI', '7', 'DDMI', 'DN', '20', 'DM', 'MET', 'DSI', 'DIS', 'MAJ',
       'DGP', 'DD', 'DPB', 'DAPFT', 'DDNC', 'ESU', 'DGC', 'DSP', 'MSIGA',
       'DGM', '10', '16', 'CTIMS', 'MTJ', 'DOPMC', 'ESI', 'DPC', 'DDHT',
       'MDI', 'DIHE', 'DCTD', '17', 'DRCPA', 'DGTC', 'DFEAP', 'DEE',
       'DMD', 'DDERH', 'REO', 'DDEIU', '15', 'DAPG', 'ESDRI', 'DDA',
       'DAIS', 'DCTCA', 'MSIGC', 'DPP', 'ESM', 'DPSTS', 'MPGPE', 'DOVST',
       'MT', 'EDN', 'MDD', 'DAF', 'DBMGPC'], dtype=object)

In [9]:
dfClean.isnull().sum()

id                               0
monto_tutoria                    0
costo_programa                   0
dep_inicial                     51
siglaNoVersion                   0
siglaNoVersionNumero             0
nombre                           0
edad                             0
tiempo_titulacion                0
sexo_F                           0
sexo_M                           0
estado_civil_C                   0
estado_civil_O                   0
estado_civil_S                   0
iniciales_nombre_2_dip           0
iniciales_nombre_2_doc           0
iniciales_nombre_2_e             0
iniciales_nombre_2_fc            0
iniciales_nombre_2_m             0
iniciales_nombre_2_n             0
Areas_1                          0
Areas_2                          0
Areas_3                          0
Areas_4                          0
Areas_5                          0
codigo_dpto_nacimiento_CH        0
codigo_dpto_nacimiento_CO        0
codigo_dpto_nacimiento_LP        0
codigo_dpto_nacimiento_OR        0
codigo_dpto_nacimiento_OTHER     0
codigo_dpto_nacimiento_PO        0
codigo_dpto_nacimiento_SC        0
codigo_pais_nacimiento_AR        0
codigo_pais_nacimiento_BO        0
codigo_pais_nacimiento_LATE      0
codigo_pais_nacimiento_PE        0
dtype: int64

In [10]:

dfClean=dfClean.dropna()
client_features = dfClean[client_features_columns]
programa_features = dfClean[programa_features_columns]

In [11]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Supongamos que tienes un conjunto de características etiquetadas como se describió anteriormente
# También supongamos que tienes un cliente específico con características

# Calcular la similitud coseno entre las características del cliente y las características de los programas
similarities = cosine_similarity(client_features, programa_features)

# Obtener los índices de los programas ordenados por similitud descendente
program_indexes = np.argsort(similarities[0])[::-1]

# Recomendar los programas más similares al cliente
num_recommendations = 5  # Puedes ajustar el número de recomendaciones
recommended_programs = program_indexes[:num_recommendations]

# Muestra los programas recomendados al cliente
for i, program_index in enumerate(recommended_programs):
    print(f"Recomendación {i + 1}: Programa {program_index}")

ValueError: Incompatible dimension for X and Y matrices: X.shape[1] == 18 while Y.shape[1] == 15

In [12]:
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise import KNNBasic
from surprise import accuracy

# Define la estructura del conjunto de datos (puedes ajustarla según tus datos)
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df[['user', 'item', 'rating']], reader)

# Dividir el conjunto de datos en entrenamiento y prueba
trainset, testset = train_test_split(data, test_size=0.2)

# Crear un modelo de filtrado colaborativo basado en usuario
sim_options = {
    'name': 'cosine',
    'user_based': True
}
model = KNNBasic(sim_options=sim_options)

# Entrenar el modelo
model.fit(trainset)

# Realizar predicciones en el conjunto de prueba
predictions = model.test(testset)

# Calcular la precisión del modelo
accuracy.rmse(predictions)

NameError: name 'df' is not defined

In [ ]:
from sklearn.cluster import KMeans
# Paso 1: Clustering de Cursos
kmeans_courses = KMeans(n_clusters=5)  # Ajusta el número de clústeres según tus datos
courses_clusters = kmeans_courses.fit_predict(programa_features).tolist()

# Paso 2: Clustering de Estudiantes
kmeans_students = KMeans(n_clusters=5)  # Ajusta el número de clústeres según tus datos
students_clusters = kmeans_students.fit_predict(client_features).tolist()

# Paso 3: Etiquetado Indirecto
dfClean['etiqueta'] = 'No interesado'  # Etiqueta predeterminada
students_clusters = np.array(students_clusters)
courses_clusters = np.array(courses_clusters)
# Define reglas de etiquetado indirecto en función de la pertenencia a clústeres
for student_cluster in range(len(students_clusters)):
    student_cluster_indices = dfClean.index[students_clusters == student_cluster]
    for course_cluster in range(len(courses_clusters)):
        course_cluster_indices = dfClean.index[courses_clusters == course_cluster]
        student_cluster_indices = list(student_cluster_indices)
        course_cluster_indices = list(course_cluster_indices)
        student_cluster_indices = set(student_cluster_indices)
        course_cluster_indices  = set(course_cluster_indices)
        common_indices = student_cluster_indices.intersection(course_cluster_indices)
        if common_indices:
            dfClean.loc[list(common_indices), 'etiqueta'] = 'Interesado'

In [13]:
set1 = {1, 2, 3, 4, 5,10}
set2 = {3, 4, 5, 6, 7,1,1,10}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Salida: {3, 4, 5}

{1, 3, 4, 5, 10}

In [14]:
print(programa_features.shape)
print(client_features.shape)

(31284, 15)
(31284, 18)

In [15]:
from keras.layers import Input, Dense
from keras.models import Model


input_course_features = Input(shape=(1,16,))
encoded = Dense(32, activation='relu')(input_course_features)
encoder = Model(input_course_features, encoded)

In [16]:
input_encoded = Input(shape=(32,))
decoded = Dense(32, activation='sigmoid')(input_encoded)
decoder = Model(input_encoded, decoded)

In [17]:
autoencoder = Model(input_course_features, decoder(encoder(input_course_features)))
autoencoder.compile(optimizer='adam', loss='mean_squared_error')
autoencoder.fit(programa_features, programa_features, epochs=1, batch_size=64)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(programa_features, client_features, test_size=0.3, random_state=42)

# Divide el conjunto de prueba en validación y prueba (50% validación, 50% prueba)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

In [22]:
y_train.shape

(21898, 18)

In [103]:
'''import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

# Dimensión de las características de los cursos y de los estudiantes
curso_dim = 15 # Dimensión de las características del curso
estudiante_dim =  18# Dimensión de las características del estudiante

# Codificador

input_cursos = keras.Input(shape=(curso_dim,))
x = layers.Dense(128, activation="relu")(input_cursos)

x = layers.Dense(64, activation="relu")(x)

encoded = layers.Dense(32, activation="relu")(x)

# Decodificador
decoded = layers.Dense(32, activation="relu")(encoded)
decoded = layers.Dense(128, activation="relu")(decoded)
output_estudiantes = layers.Dense(estudiante_dim, activation="linear")(decoded)
# Modelos del codificador y decodificador

encoder = keras.Model(input_cursos, encoded, name="encoder")
decoder = keras.Model(input_cursos, output_estudiantes, name="decoder")
print("hola")
# Modelo Autoencoder completo
autoencoder = keras.Model(input_cursos, decoder(encoder(input_cursos)), name="autoencoder")
print("hola")
autoencoder.compile(optimizer='adam', loss='mean_squared_error')
print("hola")
# Entrenar el modelo Autoencoder con tus datos
# X_cursos es tu conjunto de datos de entrada (características del curso)

autoencoder.fit(X_train, y_train, epochs=100, batch_size=64)

# Generar características de estudiantes
# Proporciona las características de un curso como entrada al decodificador
# Obtendrás las características estimadas de los estudiantes
'''

'import numpy as np\nimport tensorflow as tf\nfrom tensorflow import keras\nfrom tensorflow.keras import layers\n\n# Dimensión de las características de los cursos y de los estudiantes\ncurso_dim = 15 # Dimensión de las características del curso\nestudiante_dim =  18# Dimensión de las características del estudiante\n\n# Codificador\n\ninput_cursos = keras.Input(shape=(curso_dim,))\nx = layers.Dense(128, activation="relu")(input_cursos)\n\nx = layers.Dense(64, activation="relu")(x)\n\nencoded = layers.Dense(32, activation="relu")(x)\n\n# Decodificador\ndecoded = layers.Dense(32, activation="relu")(encoded)\ndecoded = layers.Dense(128, activation="relu")(decoded)\noutput_estudiantes = layers.Dense(estudiante_dim, activation="linear")(decoded)\n# Modelos del codificador y decodificador\n\nencoder = keras.Model(input_cursos, encoded, name="encoder")\ndecoder = keras.Model(input_cursos, output_estudiantes, name="decoder")\nprint("hola")\n# Modelo Autoencoder completo\nautoencoder = keras.Model(input_cursos, decoder(encoder(input_cursos)), name="autoencoder")\nprint("hola")\nautoencoder.compile(optimizer=\'adam\', loss=\'mean_squared_error\')\nprint("hola")\n# Entrenar el modelo Autoencoder con tus datos\n# X_cursos es tu conjunto de datos de entrada (características del curso)\n\nautoencoder.fit(X_train, y_train, epochs=100, batch_size=64)\n\n# Generar características de estudiantes\n# Proporciona las características de un curso como entrada al decodificador\n# Obtendrás las características estimadas de los estudiantes\n'

In [23]:
# Modelo del encoder
curso_dim = 15 # Dimensión de las características del curso
estudiante_dim =  18
input_cursos = keras.Input(shape=(curso_dim,))
x = layers.Dense(128, activation="relu")(input_cursos)
x = layers.Dense(64, activation="relu")(x)
encoded = layers.Dense(32, activation="relu")(x)
encoder = keras.Model(input_cursos, encoded, name="encoder")

# Modelo del decoder
input_encoded = keras.Input(shape=(32,))  # Usamos la dimensión del encoder
decoded = layers.Dense(32, activation="relu")(input_encoded)
decoded = layers.Dense(128, activation="relu")(decoded)
output_estudiantes = layers.Dense(estudiante_dim, activation="linear")(decoded)
decoder = keras.Model(input_encoded, output_estudiantes, name="decoder")

# Modelo Autoencoder completo
input_cursos = keras.Input(shape=(curso_dim,))
encoded = encoder(input_cursos)
decoded_output = decoder(encoded)
autoencoder = keras.Model(input_cursos, decoded_output, name="autoencoder")

NameError: name 'keras' is not defined

In [105]:
X_train = X_train.values
y_train = y_train.values

In [106]:
X_train = X_train.astype('float32')
y_train = y_train.astype('float32')

In [28]:
autoencoder.compile(optimizer='adam', loss='mean_squared_error')
# Entrenar el modelo Autoencoder con tus datos
# X_cursos es tu conjunto de datos de entrada (características del curso)

autoencoder.fit(X_train, y_train, epochs=300, batch_size=64)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [29]:
import joblib
autoencoder = joblib.load('modelo_entrenado3.pkl')

In [31]:
X_test

,monto_tutoria,costo_programa,dep_inicial,siglaNoVersion,iniciales_nombre_2_dip,iniciales_nombre_2_doc,iniciales_nombre_2_e,iniciales_nombre_2_fc,iniciales_nombre_2_m,iniciales_nombre_2_n,Areas_1,Areas_2,Areas_3,Areas_4,Areas_5
20922,0.535714,0.582524,0.10,0.000415,False,False,False,False,True,False,False,False,False,True,False
26698,0.180952,0.155340,0.10,0.004564,True,False,False,False,False,False,False,False,False,True,False
29100,0.589286,0.190291,0.10,0.000128,True,False,False,False,False,False,False,False,False,False,True
11909,0.180952,0.118058,0.25,0.115462,True,False,False,False,False,False,False,False,True,False,False
15741,0.535714,0.553398,0.10,0.068326,False,False,False,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21196,0.000000,0.000000,0.00,0.001596,False,False,False,False,True,False,False,False,False,True,False
44,0.071429,0.042718,0.20,0.068326,False,False,False,False,True,False,False,False,True,False,False
13915,0.180952,0.102524,0.10,0.037498,True,False,False,False,False,False,False,False,True,False,False
9826,0.180952,0.118058,0.25,0.115462,True,False,False,False,False,False,False,False,True,False,False
10322,0.535714,0.320388,0.10,0.068326,False,False,False,False,True,False,False,False,True,False,False

In [30]:
prediccion = autoencoder.predict(X_test.values.astype('float32'))
prediccion

147/147 [==============================] - 0s 2ms/step

array([[ 4.10171002e-01,  2.83259451e-01,  4.84568238e-01, ...,
         9.72463727e-01,  1.32796941e-02, -7.42347632e-03],
       [ 2.34146282e-01,  1.16759576e-01,  5.93545854e-01, ...,
         9.62081492e-01,  2.28246637e-02, -2.16809777e-03],
       [ 1.58624977e-01,  6.02914393e-02,  5.22360682e-01, ...,
         9.95564342e-01,  1.70679600e-03, -1.02975615e-03],
       ...,
       [ 2.93674529e-01,  1.76745653e-01,  5.02760410e-01, ...,
         1.00188541e+00,  4.90374863e-04, -1.95000577e-03],
       [ 4.17835236e-01,  2.87037283e-01,  4.51333880e-01, ...,
         9.87340808e-01,  5.31176804e-03,  4.83222888e-04],
       [ 4.64938879e-01,  3.12930286e-01,  4.48805690e-01, ...,
         9.91218567e-01,  3.64239980e-03, -2.36882409e-03]], dtype=float32)

In [33]:
y_test

,edad,tiempo_titulacion,sexo_F,sexo_M,estado_civil_C,estado_civil_O,estado_civil_S,codigo_dpto_nacimiento_CH,codigo_dpto_nacimiento_CO,codigo_dpto_nacimiento_LP,codigo_dpto_nacimiento_OR,codigo_dpto_nacimiento_OTHER,codigo_dpto_nacimiento_PO,codigo_dpto_nacimiento_SC,codigo_pais_nacimiento_AR,codigo_pais_nacimiento_BO,codigo_pais_nacimiento_LATE,codigo_pais_nacimiento_PE
20922,0.409836,0.300000,False,True,False,False,True,False,True,False,False,False,False,False,False,True,False,False
26698,0.229508,0.150000,True,False,False,False,True,True,False,False,False,False,False,False,False,True,False,False
29100,0.213115,0.116667,True,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False
11909,0.360656,0.283333,True,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False
15741,0.262295,0.133333,False,True,False,False,True,False,False,False,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21196,0.295082,0.266667,True,False,True,False,False,False,False,False,False,False,False,True,False,True,False,False
44,0.344262,0.266667,True,False,False,False,True,False,False,False,False,True,False,False,False,True,False,False
13915,0.131148,0.100000,True,False,False,False,True,True,False,False,False,False,False,False,False,True,False,False
9826,0.344262,0.300000,True,False,False,False,True,True,False,False,False,False,False,False,False,True,False,False
10322,0.393443,0.333333,True,False,False,False,True,False,False,False,False,False,True,False,False,True,False,False

In [25]:
X_test

,monto_tutoria,costo_programa,dep_inicial,siglaNoVersion,iniciales_nombre_2_dip,iniciales_nombre_2_doc,iniciales_nombre_2_e,iniciales_nombre_2_fc,iniciales_nombre_2_m,iniciales_nombre_2_n,Areas_1,Areas_2,Areas_3,Areas_4,Areas_5
20922,0.535714,0.582524,0.10,0.000415,False,False,False,False,True,False,False,False,False,True,False
26698,0.180952,0.155340,0.10,0.004564,True,False,False,False,False,False,False,False,False,True,False
29100,0.589286,0.190291,0.10,0.000128,True,False,False,False,False,False,False,False,False,False,True
11909,0.180952,0.118058,0.25,0.115462,True,False,False,False,False,False,False,False,True,False,False
15741,0.535714,0.553398,0.10,0.068326,False,False,False,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21196,0.000000,0.000000,0.00,0.001596,False,False,False,False,True,False,False,False,False,True,False
44,0.071429,0.042718,0.20,0.068326,False,False,False,False,True,False,False,False,True,False,False
13915,0.180952,0.102524,0.10,0.037498,True,False,False,False,False,False,False,False,True,False,False
9826,0.180952,0.118058,0.25,0.115462,True,False,False,False,False,False,False,False,True,False,False
10322,0.535714,0.320388,0.10,0.068326,False,False,False,False,True,False,False,False,True,False,False

In [81]:

edad_original = 0.409836 * (81-20)+20
titulacion_tiempo_original = 0.165577 * (60-0)+0

In [82]:
prediccion

array([[4.5314339e-01, 3.4021220e-01, 4.1541117e-01, ..., 9.7256732e-01,
        9.9041648e-03, 9.0521406e-03],
       [2.6400664e-01, 1.5428698e-01, 6.3493884e-01, ..., 9.5996338e-01,
        1.7650241e-02, 1.0157289e-02],
       [1.7022003e-01, 7.7573419e-02, 5.6875193e-01, ..., 9.7670370e-01,
        9.8947901e-03, 4.3038558e-04],
       ...,
       [2.9800814e-01, 1.9453345e-01, 4.8663539e-01, ..., 9.8858690e-01,
        4.3438096e-04, 1.5749303e-03],
       [4.3639129e-01, 3.0860880e-01, 4.7295412e-01, ..., 9.7819614e-01,
        4.3590600e-03, 3.8441306e-03],
       [4.8775387e-01, 3.4118539e-01, 4.7269708e-01, ..., 9.8360443e-01,
        8.5175373e-03, 4.1378057e-03]], dtype=float32)

In [83]:
a =  prediccion[7][2:]>0.5
a

array([False,  True, False, False, False,  True, False, False, False,
       False, False, False, False,  True, False, False])

In [84]:
y_test.values

array([[0.4098360655737705, 0.3, False, ..., True, False, False],
       [0.2295081967213115, 0.15, True, ..., True, False, False],
       [0.2131147540983606, 0.1166666666666666, True, ..., True, False,
        False],
       ...,
       [0.1311475409836065, 0.1, True, ..., True, False, False],
       [0.3442622950819672, 0.3, True, ..., True, False, False],
       [0.3934426229508196, 0.3333333333333333, True, ..., True, False,
        False]], dtype=object)

In [85]:
X_test

,monto_tutoria,costo_programa,dep_inicial,siglaNoVersion,iniciales_nombre_2_dip,iniciales_nombre_2_doc,iniciales_nombre_2_e,iniciales_nombre_2_fc,iniciales_nombre_2_m,iniciales_nombre_2_n,Areas_1,Areas_2,Areas_3,Areas_4,Areas_5
20922,0.535714,0.582524,0.10,0.000415,False,False,False,False,True,False,False,False,False,True,False
26698,0.180952,0.155340,0.10,0.004564,True,False,False,False,False,False,False,False,False,True,False
29100,0.589286,0.190291,0.10,0.000128,True,False,False,False,False,False,False,False,False,False,True
11909,0.180952,0.118058,0.25,0.115462,True,False,False,False,False,False,False,False,True,False,False
15741,0.535714,0.553398,0.10,0.068326,False,False,False,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21196,0.000000,0.000000,0.00,0.001596,False,False,False,False,True,False,False,False,False,True,False
44,0.071429,0.042718,0.20,0.068326,False,False,False,False,True,False,False,False,True,False,False
13915,0.180952,0.102524,0.10,0.037498,True,False,False,False,False,False,False,False,True,False,False
9826,0.180952,0.118058,0.25,0.115462,True,False,False,False,False,False,False,False,True,False,False
10322,0.535714,0.320388,0.10,0.068326,False,False,False,False,True,False,False,False,True,False,False

In [86]:
0.452558* (81-20)+20

47.606038

In [87]:
round(titulacion_tiempo_original)

10

In [113]:
import joblib

# Supongamos que tienes un modelo llamado 'modelo' que deseas exportar
# y también tienes datos llamados 'datos' para entrenar el modelo.

# Exportar el modelo a un archivo
joblib.dump(autoencoder, 'modelo_entrenado3.pkl')

# Cargar el modelo desde el archivo
modelo_cargado = joblib.load('modelo_entrenado3.pkl')

# Ahora puedes usar 'modelo_cargado' para hacer predicciones
predicciones = modelo_cargado.predict(X_val.values.astype('float32'))

147/147 [==============================] - 0s 1ms/step

In [114]:
predicciones

array([[ 2.5935775e-01,  1.4532384e-01,  4.9040604e-01, ...,
         9.9910444e-01,  2.0746572e-03, -2.9854015e-03],
       [ 3.5629299e-01,  2.3628587e-01,  4.7666022e-01, ...,
         9.9272746e-01,  4.5529827e-03, -5.6041870e-04],
       [ 4.6493888e-01,  3.1293029e-01,  4.4880569e-01, ...,
         9.9121857e-01,  3.6423998e-03, -2.3688241e-03],
       ...,
       [ 3.9136255e-01,  2.4564242e-01,  3.6907327e-01, ...,
         1.0034961e+00, -1.4120149e-03, -1.2017521e-03],
       [ 4.1783524e-01,  2.8703728e-01,  4.5133388e-01, ...,
         9.8734081e-01,  5.3117680e-03,  4.8322289e-04],
       [ 4.8269433e-01,  3.4422800e-01,  4.3224484e-01, ...,
         9.9948579e-01,  1.2088334e-04, -4.9553639e-03]], dtype=float32)

In [115]:
y_val

,edad,tiempo_titulacion,sexo_F,sexo_M,estado_civil_C,estado_civil_O,estado_civil_S,codigo_dpto_nacimiento_CH,codigo_dpto_nacimiento_CO,codigo_dpto_nacimiento_LP,codigo_dpto_nacimiento_OR,codigo_dpto_nacimiento_OTHER,codigo_dpto_nacimiento_PO,codigo_dpto_nacimiento_SC,codigo_pais_nacimiento_AR,codigo_pais_nacimiento_BO,codigo_pais_nacimiento_LATE,codigo_pais_nacimiento_PE
15964,0.295082,0.200000,False,True,False,False,True,True,False,False,False,False,False,False,False,True,False,False
5038,0.000000,0.316667,False,True,False,False,True,False,False,False,True,False,False,False,False,True,False,False
8452,0.311475,0.250000,True,False,False,False,True,False,False,True,False,False,False,False,False,True,False,False
9573,0.540984,0.333333,False,True,False,False,True,True,False,False,False,False,False,False,False,True,False,False
22988,0.000000,0.183333,True,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4291,0.262295,0.183333,True,False,False,False,True,True,False,False,False,False,False,False,False,True,False,False
1387,0.606557,0.300000,False,True,True,False,False,True,False,False,False,False,False,False,False,True,False,False
19061,0.377049,0.233333,False,True,True,False,False,False,False,True,False,False,False,False,False,True,False,False
3063,0.360656,0.166667,False,True,True,False,False,False,False,True,False,False,False,False,False,True,False,False
2782,0.327869,0.283333,True,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False

In [111]:
X_val

,monto_tutoria,costo_programa,dep_inicial,siglaNoVersion,iniciales_nombre_2_dip,iniciales_nombre_2_doc,iniciales_nombre_2_e,iniciales_nombre_2_fc,iniciales_nombre_2_m,iniciales_nombre_2_n,Areas_1,Areas_2,Areas_3,Areas_4,Areas_5
15964,0.000000,0.108738,0.100000,0.002266,True,False,False,False,False,False,False,False,False,False,True
5038,0.180952,0.118058,0.100000,0.026711,True,False,False,False,False,False,False,False,True,False,False
8452,0.535714,0.320388,0.100000,0.068326,False,False,False,False,True,False,False,False,True,False,False
9573,0.180952,0.118058,0.250000,0.115462,True,False,False,False,False,False,False,False,True,False,False
22988,0.535714,0.669903,0.100000,0.001755,False,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4291,0.180952,0.118058,0.100000,0.037498,True,False,False,False,False,False,False,False,True,False,False
1387,0.000000,0.029903,0.545455,0.002904,False,False,False,True,False,False,False,False,True,False,False
19061,0.535714,0.689320,0.100000,0.004691,False,False,False,False,True,False,False,False,True,False,False
3063,0.180952,0.118058,0.250000,0.115462,True,False,False,False,False,False,False,False,True,False,False
2782,0.023810,0.013592,0.250000,0.115462,True,False,False,False,False,False,False,False,True,False,False

In [98]:
y_val

,edad,tiempo_titulacion,sexo_F,sexo_M,estado_civil_C,estado_civil_O,estado_civil_S,codigo_dpto_nacimiento_CH,codigo_dpto_nacimiento_CO,codigo_dpto_nacimiento_LP,codigo_dpto_nacimiento_OR,codigo_dpto_nacimiento_OTHER,codigo_dpto_nacimiento_PO,codigo_dpto_nacimiento_SC,codigo_pais_nacimiento_AR,codigo_pais_nacimiento_BO,codigo_pais_nacimiento_LATE,codigo_pais_nacimiento_PE
15964,0.295082,0.200000,False,True,False,False,True,True,False,False,False,False,False,False,False,True,False,False
5038,0.000000,0.316667,False,True,False,False,True,False,False,False,True,False,False,False,False,True,False,False
8452,0.311475,0.250000,True,False,False,False,True,False,False,True,False,False,False,False,False,True,False,False
9573,0.540984,0.333333,False,True,False,False,True,True,False,False,False,False,False,False,False,True,False,False
22988,0.000000,0.183333,True,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4291,0.262295,0.183333,True,False,False,False,True,True,False,False,False,False,False,False,False,True,False,False
1387,0.606557,0.300000,False,True,True,False,False,True,False,False,False,False,False,False,False,True,False,False
19061,0.377049,0.233333,False,True,True,False,False,False,False,True,False,False,False,False,False,True,False,False
3063,0.360656,0.166667,False,True,True,False,False,False,False,True,False,False,False,False,False,True,False,False
2782,0.327869,0.283333,True,False,False,False,True,False,False,False,False,False,False,True,False,True,False,False

In [93]:
X_test.shape

(4693, 15)

In [43]:
np.array()

array([1, 5])